#aaa{
  padding:30px;
}
#title{
  font-family: 'Oswald', sans-serif;
  color: rgb(83, 151, 156);
  font-size: 36px;
}
#error {
  font-family: Courier;
  color: red;
  width: 600;
}
#playBtn{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 25px;
  font-weight: 900;
  color:rgba(83, 151, 156, 0.938);
  background-color: transparent;
  border: 3px dotted rgb(83, 151, 156);
  border-radius: 50px;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}
#playBtn:hover{
  background-color: rgb(83, 151, 156);
  color: white;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0px 5px 40px -10px rgba(255, 255, 255, 0.57);
  transition: all 0.4s ease 0s;
}
textarea#blah {
  /* width: 50%; */
  height: 300px;
  font-family: Courier;
  font-size: 12px;
  padding: 10px;
  margin: 0 10px 0 0;
  border: rgb(83, 151, 156) double 5px;
}

@media (max-width: 767px) {
  textarea#blah {
    width: 100%;
  }
  .canva{
    width: 100%;
    height:100px;
  }
}
@media (max-width: 991px){
  textarea#blah {
    width: 50%;
  }
  .canva{
    width: 50%;
    height:100px;
  }
}
@media (max-width: 1599px){
  textarea#blah {
    width: 50%;
  }
  .canva{
    width: 50%;
    height:100px;
  }
}