<!--
  https://codepen.io/anon/pen/YvmZYE
-->
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>piano</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
	<link rel="stylesheet" href="piano.css">
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.8/vue.js'></script>
  <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
</head>

<body>

  <div id="app">
    <div class="audioplayer" v-for="s in sounddata">
      <audio v-bind:data-num="s.number">
        <source v-bind:src="s.url" type="audio/ogg"/>
      </audio>
    </div>

    <div class="center_box">
      <div class="keyboard">
        <div class="pianokey" v-for="s in display_keys">
          <div class="white" v-if="s.type==&quot;white&quot;" v-on:mouseenter="addnote(s.num)" v-bind:class="get_current_highlight(s.num,s.key)?&quot;playing&quot;:&quot;&quot;">
            <div class="label">{{String.fromCharCode(s.key)}}</div>
          </div>
          <div class="black" v-if="s.type==&quot;black&quot;" v-on:mouseenter="addnote(s.num)" v-bind:class="get_current_highlight(s.num,s.key)?&quot;playing&quot;:&quot;&quot;">
            <div class="label">{{String.fromCharCode(s.key)}}</div>
          </div>
        </div>
      </div><br/>

      <div class="controls">
        <ul class="notes_list" v-if="notes.length&gt;0">
          <li v-for="(note,id) in notes" v-bind:class="now_note_id-1==id?&quot;playing&quot;:&quot;&quot;">
            <div class="num">{{note.num}}</div>
            <div class="time">{{note.time}}</div>
          </li>
        </ul>
        <button v-on:click="load_sample">Sample</button>
        <button v-on:click="playnext(1)">Playnext</button>
        <button v-if="playing_time&lt;=1" v-on:click="startplay">Startplay<i class="fa fa-play"></i></button>
        <button v-if="playing_time&gt;1" v-on:click="stopplay">Stopplay<i class="fa fa-pause"></i></button>
        <button v-if="record_time&lt;=0" v-on:click="start_record">Record<i class="fa fa-circle"></i></button>
        <button v-if="record_time&gt;=1" v-on:click="stop_record">StopRecord<i class="fa fa-top"></i></button>
        <button v-on:click="notes=[]">Clear</button>
        <h4>{{playing_time+record_time}}</h4>
      </div>
    </div>
  </div>

  <script src="./piano.js"></script>

</body>

</html>