@charset "UTF-8";  
* {
  vertical-align: top;
  font-family: 微軟正黑體;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

/*
https://developer.mozilla.org/en-US/docs/Web/CSS/@charset
The @charset CSS at-rule specifies the character encoding used in the style sheet. 
*/

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

h2 {
  margin-bottom: 30px;
  color: #585858;
}

button {
  background-color: transparent;
  border: none;
  border: solid 1px;
  padding: 4px 12px;
  border-radius: 4px;
  transition: 0.5s;
  cursor: pointer;
  vertical-align: middle;
}
button:hover {
  background-color: #ffd5d5; /* #585858 */
  color: white;
}

.notes_list li {
  display: inline-block;
  border-right: solid 1px;
  padding: 2px 5px;
  cursor: pointer;
  transition: 0.3s;
}
.notes_list li:hover {
  background-color: #ffd5d5; /* #e1e1e1 */
}
.notes_list li.playing {
  background-color: #ffd5d5; /* #d5d5d5 */
}
.notes_list li .time {
  font-size: 8px;
  opacity: 0.3;
}
.notes_list li .num {
  font-size: 16px;
}

.center_box {
  /* position: absolute; */
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-0%, -0%);
          transform: translate(-0%, -0%);
  text-align: center;
  width: 100%;
}

.keyboard {
  box-shadow: 0px 0px 40px -5px rgba(8, 8, 8, 0.4);
  display: inline-block;
  margin-bottom: 30px;
}

.pianokey {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.white.playing {
  background-color: #ffd5d5; /* #d5d5d5 */
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.black.playing {
  background-color: #ffd5d5; /* #727272 */
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.white {
  /* width: 25px;
  height: 200px; */
  border: solid 1px #eee;
  -webkit-transform: translate(-3px, -3px);
          transform: translate(-3px, -3px);
  transition: 0.1s;
  background-color: white;
}
.white:hover {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  background-color: #ffd5d5; /* #eee */
}

.black {
  position: absolute;
  top: 0px;
  /* width: 18px;
  height: 105px; */
  background-color: #585858;
  margin-left: -11px;
  margin-right: -11px;
  z-index: 20;
  -webkit-transform: translate(-3px, -3px);
          transform: translate(-3px, -3px);
  transition: 0.1s;
}
.black:hover {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  background-color: #ffd5d5; /* #3f3f3f */
}

.label {
  position: absolute;
  color: rgba(88, 88, 88, 0.5);
  bottom: -25px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  font-size: 8px;
}

i {
  margin-left: 5px;
  margin-right: 0px;
  margin-top: 3px;
}

i.fa-circle {
  color: #cc0000;
}



@media (max-width: 1599px) {
  .white {
    width: 25px;
    height: 200px;
  }
  .black{
    width: 18px;
    height: 105px;
  }
}
@media (max-width: 1260px) {
  .white {
    width: 19px;
    height: 170px;
  }
  .black{
    width: 13px;
    height: 95px;
    margin-left: -6px;
  }
}

@media (max-width: 991px) {
  /* .white {
    width: 17px;
    height: 140px;
  }
  .black{
    width: 13px;
    height: 79px;
    margin-left: -7px;
    margin-right: -7px;
  } */
  .white {
    width: 14.5px;
    height: 125px;
  }
  .black{
    width: 10px;
    height: 70px;
    margin-left: -6px;
    margin-right: -6px;
  }
}

@media (max-width: 767px) {
  .white {
    width: 9.5px;
    height: 90px;
  }
  .black{
    width: 8px;
    height: 55px;
    margin-left: -5px;
    margin-right: -5px;
  }
}

.audioplayer{
  height:1px;
}
