@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC|Noto+Serif+TC|ZCOOL+XiaoWei&display=swap');
:root {
    --time: 5s;
}

body {
    background: rgb(245, 245, 245);

}

#container > div {
    width: auto;
    height: auto;
    white-space: nowrap;
}

#controls {
    padding: 0 10vw;
}

#controls > button {
    margin: 5px;
}

#word {
    margin: 5vh 12vw;
}

#word > img {
    width: 70vw;
    height: auto;

}

#word > h3 {
    font-size: 1.5rem;
    font-family: 'Noto Sans TC', sans-serif;
}

#word > p {
    font-size: 1rem;
    font-family: 'Noto Sans TC', sans-serif;
    word-break: break-all;
    white-space: normal;
}


.scroll {
    transition: transform var(--time, 5s) linear, opacity 0.5s ease-out, fill 0.2s linear;
}

.scrolling {
    transform: translate(-70vw, 0);
}

.too-slow {
    transform: translate(-80vw, 0px);
    opacity: 0;
    fill: "red";
    stroke: "red";
}

.change-color {
    fill: #12ca3a;
    stroke: "red";
}

#start {
    display: block;
    margin: 20px 20px;
    max-width: 180px;
    text-decoration: none;
    border: 1px solid;
    border-radius: 18px;
    padding: 5px 20px;
    color: rgb(66, 119, 180);
    background: rgb(245, 245, 245);
    font-size: 18pt;
    font-family: 'Quicksand';
}

#start:hover {
    color: rgba(255, 255, 255, 0.85);
    box-shadow: rgb(66, 119, 180) 0 80px 0px 2px inset;
}
